[submodule "CUE4Parse-Natives/ACL/external/acl"]
	path = CUE4Parse-Natives/ACL/external/acl
	url = https://github.com/nfrechette/acl.git
[submodule "CUE4Parse-Natives/UEFormat/external/ueformat"]
	path = CUE4Parse-Natives/UEFormat/external/ueformat
	url = https://github.com/h4lfheart/UEFormat.git
